<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Email</title>
</head>

<body>
  Hi
  <br> {{fullName}},
  <br>
  <br> Thanks for registering an account with NativeWallet! We're excited to have you on board.
  <br> Before we get started, we'll need to verify your email.
  <br>
  <a href="{{FRONT_BASE_URL}}users/verify-email/{{token}}" target="_blank">Verify Email</a>
</body>
</html>