
<script src="{{constants.ACCESSURL}}js/app.js" type="text/javascript"></script>
<script src="{{constants.ACCESSURL}}js/jquery.toast.js" type="text/javascript"></script>

<div class="footerbtm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h6>© 2018 Vega All rights reserved</h6>
        </div>
        <div class="col-md-6">
          <div class="termscontd">
            <ul style="margin-bottom: 0px;">
              {{!-- <li><a >Support</a></li>
              <li><a href="#" routerlink="/privacy" ng-reflect-router-link="/privacy">Privacy</a></li>
              <li><a href="#" routerlink="/terms-and-condition" ng-reflect-router-link="/terms-and-condition">Terms and Conditions</a></li> --}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>