<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome to Vega</title>
</head>
<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700');
	*{box-sizing: border-box;}
	
	@media (max-width: 550px) {
		img{max-width: 100%;}
		table, tbody, tr, td {max-width: 100% !important;display: block !important;}
		.welcome-text{padding: 15px 30px !important;}
		.plr-xs-0{padding-left: 0px !important; padding-right: 0px !important;}
	}
	@media (max-width: 460px) {
		.main-wrapper > tbody > tr > td {padding: 20px !important;}
	}
	.btn-css{
		padding: 12px 30px;
		background: linear-gradient(90deg, #d60000, #fb7400);
		color: #ffffff;
		font-weight: bold;
		border: none;
		outline: none;
		text-align: center;
		border-radius: 20px;
	}
</style>
<body style="background: #fafafa;font-family: 'Montserrat', sans-serif;font-size: 14px;color: #000;">
    {{{body}}}
    {{> footer}}