  <div class="headerdes">
    <div class="regbre">
      <img src="{{constants.ACCESSURL}}dashboard_files/logo.png">
    </div>
  </div>
 	{{#if message}}
	<div class="message-disp">
		<div class="messagebox">
			{{message}}
		</div>
	</div>{{/if}}

  <div class="container-fluid reg-container first-form" style="height: 500px;">
    <form action="{{constants.ACCESSURL}}users/forgot-password-send" method="post" class="ajax-forgot-password" name ="contact-form" >
      <div class="reg-form">
        <div class="reg-active reg-border">
          <h3>Forgot Password</h3>
          <hr>
          <div class="reginr">
            <span><i class="fa fa-user"></i></span>
            <input maxlength="100" minlength="4" name="email" placeholder="enter email" required="" type="email" >
          </div>
          <button class="btn btn-primary reg-button" id="continue" style="margin-top: 25px;" type="submit">
            <p style="margin-bottom: 0px;"><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;&nbsp;Continue</p>         
          </button>
          	<a href="/users/login" style="margin-top: 10px; float: left;">Login</a>
			      	<a href="/" style="margin-top: 10px; float: right;font-weight: bold;">New Register Here</a>
        </div>
      </div>
    </form>
  </div>

  <script src="{{constants.ACCESSURL}}dashboard_files/jquery-ui.js"></script>
  {{!-- <script>
    function submitForm() {
   // Get the first form with the name
   // Usually the form name is not repeated
   // but duplicate names are possible in HTML
   // Therefore to work around the issue, enforce the correct index
   var frm = document.getElementsByName('contact-form')[0];
   //frm.submit(); // Submit the form
   frm.reset();  // Reset all form data
   return false; // Prevent page refresh
}
  </script>   --}}